.property {
  display: flex;
  align-items: center;
}

.property select {
  all: unset;
  background-color: unset;
  border: unset;
  text-align-last: center; /* to support Safari, use this property instead of `text-align` */
  border-bottom: 1px solid black;
  font-family: monospace;
  font-size: 16px;
}
